.nav {
  background-color: var(--white);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

    @media only screen and (max-width: 481px) {
    column-gap: 16px;
  }

  .menuItem {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .itemHome {
    display: none;
  }

  @media only screen and (max-width: 481px) {
    .itemHome {
      display: flex;
    }

    .itemAbout,
    .itemAbout,
    .itemWork,
    .itemContact {
      display: none;
    }
  }
}
