.item {
  border-top: 1px solid var(--grey);
  margin: 2rem;
  cursor: pointer;

  @media only screen and (max-width: 768px) {
    margin: 0rem;
    margin-top: 2rem;
  }

  .heading {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-weight: 500;
      font-size: 25px;
      line-height: 36px;
      letter-spacing: 0.015em;
      text-transform: uppercase;
    }
  }

  .desc {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
    letter-spacing: 0.015em;
    color: var(--grey-lite);
  }

  .date {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
    letter-spacing: 0.015em;
    color: var(--grey-lite);
  }
}
