.hero {
  padding: 90px 16px;
}

.name {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  margin-bottom: 1rem;
}

.title {
  color: var(--accent-color);
  font-family: 'Chaviera';
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 180px;
  letter-spacing: 0.04em;

  .frontend {
    display: flex;
    justify-content: flex-end;
    width: 90%;
  }

  .engineer {
    display: flex;
    justify-content: flex-end;
    width: 55%;
  }
}

.quote {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 35%;
  padding: 2rem;
  margin-left: 2rem;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
